exportPattern("^[[:alpha:]]+")
import(numDeriv)
importFrom("graphics", "lines", "legend")
importFrom("stats", "integrate", "pgamma", "plogis", "pnorm", "qchisq","qnorm", "quantile", "rbeta", "sd", "var","nlminb","dnorm")
export(roc.binary)
export(roc.ppvnpv)
export(roc.clusteredbinary)
export(LRratio)
export(Oddsratio)
export(roc.ordinal.emp)
export(params_estimate)
export(roc.ordinal.smooth)
export(roc.CI.ordinal)
export(CI_estimation_ordinal)
export(roc.nonparametric)
export(roc.clustered)
export(params_estimate_bigamma)
export(roc.bigamma)
export(params_estimate_logistic)
export(roc.logistic)
export(roc.continuous.emp)
export(BoxCox)
export(roc.transformed)
export(roc.continuous.smooth)
export(roc.biweight)
export(roc.gaussian)
export(Epanechnikov_kernel)
export(roc_Zhou_Harezlar)
export(star)
export(getconstant)
export(roc.semiparametric)
export(Psi)
export(roc.area.nonparametric)
export(roc.var.continuous)
export(CI_estimation_continuous)
export(SDT)
export(roc.gaussian_optimal)
export(roc.biweight_optimal)
export(roc.binormality_optimal)
export(roc.testing)

